@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@3/distr/fira_code.css);

html {
  font-family     : "Fira Code", "微软雅黑";
  background-color: #323232;
  color           : #ecf0f1;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Fira Code", "微软雅黑";
  }
}

/* Global style */

body {
  padding  : 0;
  margin   : auto;
  max-width: 960px;
}

ul,
li {
  list-style          : none;
  padding-inline-start: 0;
  margin              : 0;
}

li {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  margin        : 1rem 0;
}

/* Header */

header {
  margin: 1rem 0;
}

header>h1 {
  font-size: 1.5rem;
  margin   : 0;
}

h1>.title {
  margin-left: 0.5rem;
}

header>h2 {
  font-size: 1.25rem;
  margin   : 0;
}

h1,
h2,
h3 {
  display       : flex;
  flex-direction: row;
  align-items   : center;
}

h1>.icon,
h2>.icon,
h3>.icon {
  margin: 0;
}

header>p {
  margin: 0;
  color : grey;
}

.icon {
  margin: 0 1rem;
  height: 32px;
}

/* Process bar */

div.progress {
  width        : 100%;
  border       : 1px dashed #ecf0f1;
  overflow     : hidden;
  text-overflow: ellipsis;
  white-space  : nowrap;
}

div.progress>.name {
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  background-color: grey;
  width           : 70%;
  height          : 100%;
  padding-left    : 1rem;
}

.part {
  padding      : 1rem 2rem;
  margin       : 0;
  border-bottom: 1px #ecf0f1 dashed;
}

section#summary {
  display        : flex;
  flex-direction : row;
  justify-content: space-evenly;
  flex-wrap      : wrap;
}

section#summary>* {
  max-width: 25vw;
}

section#project ul {
  display        : flex;
  flex-direction : row;
  justify-content: space-evenly;
  align-items    : center;
  flex-wrap      : wrap;
}

section#project li {
  margin        : 0.5rem;
  width         : 192px;
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

section#project li>.name {
  font-weight: bold;
}

section#project li>.desc {
  text-align: center;
}

section#project li>.tag {
  font-size: small;
  color    : grey;
}

section#contact {
  border-bottom: none;
}
